/public/storage
/storage/*.key
/vendor
.env
.env.backup
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/storage_/.gitignore
code.zip
/.idea
/laradock-alexadoc
/node_modules
